/*
son en cascada porque lee de arriba hacia abajo
los stylos de abajo pizan los de arriba

se puede evitar usando referencia el orden seria
id
class
etiqueta
de esa manera la referencia le gana al orden cascada por ende no las pisa si estan mas arriba o abajo 
*/
#especificacion{
    color: aqua;
    background-color: red;
    display: inline;
    font-size: medium;
}

h1 {
    background-color: aquamarine;
}

.fuente-roja {
    color: red;
}

#titulo-clase {
    background-color: blueviolet;
}